html {
    line-height: 1.15;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
    outline: 1px dotted ButtonText;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#contactForm input {
    padding: 0 8px;
    border: 1px solid rgb(22 33 60 / 17%);
    margin-bottom: 10px;
    height: 44px;
    border-radius: 4px;
}

#contactForm input::placeholder {
    font-size: 14px;
}

#contactForm input[type='submit'] {
    background-color: #f80002;
    color: #fff;
    border: 1px solid #f80002;
    width: 130px;
    font-weight: 600;
    margin: 10px auto;
    cursor: pointer;
}

#contactForm input[type='submit']:hover {
    background-color: #fff;
    color: #f80002;
}

img {
    display: block;
}

html {
    scroll-behavior: smooth
}

.popup-form {
    width: 500px;
    display: none;
    position: fixed;
    top: 31%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

@media (max-width:400px) {

    .popup-form {
        width: 200px;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    #contactForm input {
        padding: 2px;
        border: 1px solid rgb(22 33 60 / 17%);
        margin-bottom: 2px;
        height: 24px;
        border-radius: 4px;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

h2 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;

}


button {
    cursor: pointer;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);
}

.button {
    cursor: pointer;
}

.home-container05 .home-button,
.home-container05 .home-button1 {
    padding: 0;
}

.home-button2 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
}

section {
    width: 100%;
}

.oxygen-home .py-100 {
    padding: 100px 0;
}

.oxygen-home .container2 {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.oxygen-home .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
}

.oxygen-home .litcompo-heading {
    font-size: 38px;
    margin-bottom: 30px;
}

.home-resources a {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.home-resources a:hover {
    border: 1px solid #ff1616;
}

.navigation-links-text,
.navigation-links-text1,
.navigation-links-text2,
.tooltip-btn,
.tooltip-video {
    position: relative;
    display: inline-block;
    cursor: context-menu;
}

.tooltip-video {
    position: relative !important;
    display: inline-block !important;
}

.tooltiptext strong {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.navigation-links-nav .tooltiptext {
    width: 230px;
    background-color: #fff;
    color: #f80002;
    border: 1px solid #f80002;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    position: absolute;
    right: 185px;
    bottom: -40px;
    z-index: 1;
    transition: opacity 1s;
    font-size: 18px;
    font-weight: normal;
}

.navigation-links-nav .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f80002 transparent;
}

.navigation-links-text .tooltiptext,
.navigation-links-text1 .tooltiptext,
.navigation-links-text2 .tooltiptext,
.tooltip-btn .tooltiptext-btn,
.home-container05 .tooltip-btn .tooltiptext-btn,
.tooltiptext-video {
    visibility: hidden;
    width: 260px;
    background-color: #fff;
    color: #f80002;
    border: 1px solid #f80002;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    font-size: 18px;
    font-weight: normal;

    top: 150%;
    left: -150%;
    margin-left: -60px;
}

.tooltiptext-video {
    top: 65%;
    left: 36%;
}

.navigation-links-text .tooltiptext {
    left: -80%;
}

.navigation-links-text2 .tooltiptext {
    left: -130%;
}

.tooltip-btn .tooltiptext-btn {
    left: 10%;
    top: 120%;
}

.home-container05 .tooltip-btn .tooltiptext-btn {
    left: 22%;
    top: 120%;
}

.navigation-links-text .tooltiptext::after,
.navigation-links-text1 .tooltiptext::after,
.navigation-links-text2 .tooltiptext::after,
.tooltip-btn .tooltiptext-btn::after,
.tooltiptext-video::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f80002 transparent;
}

.navigation-links-text:hover .tooltiptext,
.navigation-links-text1:hover .tooltiptext,
.navigation-links-text2:hover .tooltiptext,
.tooltip-btn:hover .tooltiptext-btn,
.tooltip-video:hover .tooltiptext-video {
    visibility: visible;
    opacity: 1;
}

.home-rectangle3 {
    border: 1px solid rgb(22 33 60 / 17%);
    border-radius: 5px;
    padding: 0 0 0 20px;
}

.home-container08 .home-button3,
.home-container06 .home-button2 {
    padding: 0;
}

.home-container08 .home-button3 .home-text105 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

input:focus-visible {
    outline: none;

}

.oval-thought-border {
    position: absolute;
    left: -49%;
    top: -100px;
    width: 220px;
    height: 130px;
    padding: 0;
    margin: 1em auto 80px;
    border: 4px solid #c81e2b;
    text-align: center;
    color: #333;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.oval-thought-border p {
    font-size: 18px;
    padding: 0 20px;
}

.oval-thought-border:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 15px;
    right: 5px;
    width: 25px;
    height: 25px;
    border: 4px solid #c81e2b;
    background: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: block;
}

.oval-thought-border:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 5px;
    right: -15px;
    width: 18px;
    height: 18px;
    border: 4px solid #c81e2b;
    background: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: block;
}

.oval-thought-border.right-side {
    right: 160px;
    left: auto;
}

.oval-thought-border.right-side:before {
    right: auto;
    bottom: 12px;
}

.oval-thought-border.right-side::after {
    bottom: -5px;
    left: -17px;
}

.oval-thought-border.right-side.right-video {
    top: 100px;
    right: 0;
}

.home-join-form .oval-thought-border.right-side.right-video {
    top: auto;
    right: -170px;
    bottom: 110px;
}

.oxygen-home .background-image {
    background: url("https://www.simpliareps.com/playground_assets/slider-image-landscape-1500w.jpg") no-repeat center;
    min-height: 150px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--dl-space-space-fiveunits);
}

.oxygen-home .hero-heading {
    width: 100%;
}

.oxygen-home .home-heading {
    width: 1075px;
    height: auto;
    font-size: 48px;
    margin: 0 auto;
    margin-top: var(--dl-space-space-fiveunits);
    text-align: center;
    color: var(--dl-color-primary-heading);
    font-family: 'Poppins-Regular', sans-serif;
}

.oxygen-home .red-span {
    color: red;
}

.oxygen-home .btn-primary {
    display: inline-block;
    color: #fff;
    background-color: #f80002;
    font-size: 25px;
    margin-right: 25px;
    margin-top: 50px;
    padding: 0;
    font-weight: 600;
    border-radius: 4px;
    width: 243px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    border: 1px solid #f80002;
    transition: 0.3s ease all;
    cursor: pointer;
}

.oxygen-home .btn-primary:hover {
    color: #f80002;
    background-color: #fff;
    transition: 0.3s ease all;
}

.oxygen-home .btn-primary.btn-2 {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 145px;
    cursor: pointer;
    color: #f80002;
    background: #fff;
    border: 1px solid #f80002;
}

.oxygen-home .btn-primary.btn-2:hover {
    background-color: #e30002;
    color: #fff;
}

.oxygen-home .custom-span {
    font-size: 12px;
}

.oxygen-home .hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.oxygen-home .home-heading {
    width: 1075px;
    font-size: 48px;
    margin: 0 auto;
    margin-top: var(--dl-space-space-fiveunits);
    text-align: center;
    color: var(--dl-color-primary-heading);
    font-family: 'Poppins-Regular', sans-serif;
}

.home-heading .mt-10 {
    margin-top: var(--dl-space-space-threeunits);
    display: inline-block;
}

.visible {
    display: block;
}

.not-visible {
    display: none;
}

/* Additional styles for the popup */
.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, .5);
    transition: opacity .25s ease;
}



.popup-content {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 70%;
}

.popup-close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.popup-img {
    float: left;
    padding: 0px 10px 10px 0px;
    width: 45%;
}

.popup-description {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
}

@media (max-width:768px) {

    .popup-img {
        float: left;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

}


@media screen and (min-device-width:300px) and (max-device-width:768px) {

    .popup-img {
        float: left;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

}



@media screen and (max-width: 479px) {

    .home-container .home-container03,
    .home-container .home-container04 {
        height: 600px;
    }

    .home-container .home-heading2 {
        margin-bottom: 140px;
    }

    .home-container03 .oval-thought-border {
        left: 90px;
        top: -150px;
    }

    .home-container03 .oval-thought-border:before {
        bottom: 0;
        right: auto;
    }

    .home-container03 .oval-thought-border:after {
        bottom: -14px;
        right: auto;
        left: -24px;
    }

    .home-resources .home-container06 {
        top: 100px;
    }

    .home-resources .oval-thought-border.right-side {
        right: 10px;
        top: -105px;
    }

    .home-resources .home-text041 {
        top: 50px;
    }

    .home-resources .home-text040 {
        top: 70px;
    }

    .home-resources .home-payment {
        top: 125px;
    }

    .home-resources .home-simplia-deck {
        top: 261px;
    }

    .home-resources .oval-thought-border.right-side::after {
        bottom: -7px;
        left: -21px;
    }

    .home-videos .home-text081 {
        top: 25px;
    }

    .home-videos .home-text083 {
        top: 61px;
    }

    .home-container07 .home-container08 {
        height: 1230px;
    }

    .home-join-form .oval-thought-border.right-side.right-video {
        right: 0;
        bottom: 40px;
    }

    .home-join-form .home-button3 {
        bottom: -20px;
    }

    .home-join-form .oval-thought-border.right-side::after {
        left: -21px;
    }
}


.bubble-container {
    text-align: center;
    margin-left: -90px;
    height: 150px;
}

.bubble-container1 {
    text-align: center;
    margin-left: -90px;
    height: 150px;
}

.bubble-container2 {
    text-align: center;
    margin-left: 530px;
    height: 150px;
}

.bubble {
    position: relative;
    width: 80px;
    height: 70px;
    background-color: white;
    border-radius: 50% 50% 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bubble:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;

}

.bubble2 {
    position: relative;
    width: 80px;
    height: 70px;
    background-color: white;
    border-radius: 50% 50% 50% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
    margin: 4px;
    padding: 10px;
    display: flex;
    flex-direction: wrap;
}

.card .info {
    flex: 2;
    padding: 5px;
}

.info h2 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 10px 3px;
    line-height: 22px;
}

.card p {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 10px;
}

.popup-description {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    margin: 0px 0px 10px;
}

.card .image {
    height: 350px;
    flex: 1;
    padding: 5px;
}

.card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* Maintain image aspect ratio and fill the container */
}

.readmore {
    font-size: 14px;
    font-weight: 700;
    color: blue;
    text-decoration: none;
}

@media (max-width: 500px) {
    .card .image img {
        height: 180px;
        width: 100%;
        object-fit: cover;
    }

    .card .image {
        height: 180px;
        flex: 1;
        padding: 5px;
    }
}

.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter {
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box {
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
}

.post-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile-name {
    font-size: .8rem;
    font-weight: 500;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: #111;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container .sec {
    margin-right: 30px;
}

.footer-container .sec.aboutus {
    width: 40%;
}

.footer-container h2 {
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}

.footer-container h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(77, 228, 255);
}

footer p {
    color: #fff;
}

.sci {
    margin: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
}

.sci li a:hover {
    background: rgb(77, 228, 255);
}

.sci i a .bx {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
}

.quicklinks ul li {
    list-style: none;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: .3s;
}

.quicklinks ul li a:hover {
    color: #fff;
}

.footer-container .contactBx {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contactBx .info {
    position: relative;
}

.contactBx .info li {
    display: flex !important;
    margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactBx .info li span {
    color: #999;
}

.contactBx .info li a {
    color: #999;
    text-decoration: none;
    transition: .5s;
}

.contactBx .info li a:hover {
    color: #fff;
}

@media (max-width: 1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    section {
        padding: 2rem 0 !important;
    }

    .header-content {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home-title {
        font-size: 3rem;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-img {
        height: 370px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

    .about .contentBx,
    .about .imgBx {
        min-width: 100%;
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .about .imgBx {
        min-height: 250px;
    }

    .btn2 {
        margin-bottom: 30px;
    }

    .post-header {
        height: 435px;
    }

    .post-header {
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px) {
    .post-header {
        height: 390px;
    }

    .header-title {
        width: 100%;
    }

    .header-img {
        height: 340px;
    }
}

@media (max-width: 396px) {
    .home-title {
        font-size: 2rem;
    }

    .home-subtitle {
        font-size: 0.9rem;
    }

    .home {
        min-height: 300px;
    }

    .post-box {
        padding: 10px;
    }

    .header-title {
        font-size: 1.4rem;
    }

    .header-img {
        height: 240px;
    }

    .post-header {
        height: 335px;
    }

    .header-img {
        height: 340px;
    }
}

/* Footer Media Query */
@media (max-width: 991px) {
    footer {
        padding: 40px;
        font-size: 20px;
    }

    footer .footer-container {
        flex-direction: column;
    }

    footer .footer-container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footer-container .sec.aboutus {
        width: 100% !important;
    }

    footer .footer-container .quicklinks {
        width: 100%;
    }

    footer .footer-container .contactBx {
        width: 100%;
    }
}